.sidebar {
    background: #5BC0DE;
    height: 100vh;
    padding: 20px;
    position: fixed;
    width: 200px;
}

.horiz-divider {
    background-color: #A4A4A4;
    height: 1px;
    margin: 10px auto 10px auto;
    width: 95%;
}

h3 {
	position: relative;
	padding: 12px 10px;
	color: #000000;
	font-size: 1.2em;
	font-weight: bold;
	border-bottom: 4px solid #222;
}

/* Header */
.header {
	background: #5BC0DE;
	padding: 15px;
}

.header .filter-cell {
	text-align: left;
}

.header .worksheet-cell {
	text-align: right;
}

.header .filter-menu-toggle {
	color: #000000;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
}

.header .filter-menu-toggle:hover {
	color: #FFFFFF;
}

.header .worksheet-menu-toggle {
	color: #000000;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
}

.header .worksheet-menu-toggle:hover {
	color: #FFFFFF;
}

.header .filter-menu-toggle i {
	margin: 5px 3px 0px 0px;
	vertical-align: center;
}

/* Filter Menu */
.filter-checkbox {
	width: 85px;
}

.filter-menu {
	background: #5BC0DE;
	height: 100%;
	left: -200px;
	position: fixed;
	top: 0;
	width: 200px;
	z-index: 100;
}

.filter-menu .filter-item {
	padding: 5px 0px 5px 10px;
}

.filter-menu .filter-section {
	border-top: 2px solid #999999;
	padding: 5px 0px 5px 10px;
}

.filter-menu .filter-section .filter-header {
	font-weight: bold;
}

.filter-menu .filter-item .search {
	font-weight: bold;
	width: 150px;
}

.filter-menu .filter-menu-toggle {
	color: #000000;
	display: inline-block;
	font-family: Arial, sans-serif;
	font-weight: bold;
	line-height: 1;
	padding: 6px 9px 5px;
	position: absolute;
	right: 10px;
	text-decoration: none;
	top: 12px;
	vertical-align: top;
}

.filter-menu .filter-menu-toggle:hover {
	color: #FFFFFF;
}

/* Worksheet Menu */
.worksheet-menu {
	background: #5BC0DE;
	height: 100%;
	position: fixed;
	right: -400px;
	top: 0;
	width: 400px;
	z-index: 100;
}

.worksheet-menu .worksheet-section {
	border-top: 2px solid #999999;
	padding: 5px 0px 5px 10px;
}

.worksheet-menu .worksheet-section .worksheet-header {
	font-weight: bold;
}

.worksheet-menu .worksheet-menu-toggle {
	color: #000000;
	display: inline-block;
	font-family: Arial, sans-serif;
	font-weight: bold;
	line-height: 1;
	padding: 6px 9px 5px;
	position: absolute;
	right: 10px;
	text-decoration: none;
	top: 12px;
	vertical-align: top;
}

.worksheet-menu .worksheet-menu-toggle:hover {
	color: #FFFFFF;
}

/* Information Details */
.worksheet-menu .worksheet-section .info-text {
	font-weight: bold;
	padding: 10px 10px 0px 0px;
	text-align: right;
	vertical-align: top;
	width: 110px;
}

.worksheet-menu .worksheet-section .info-value {
	padding-top: 10px;
	vertical-align: top;
	width: 270px;
}

/* Course Levels */
.column-area {
	position: fixed;
	height: 100%;
	padding-left: 200px;
	width: 100%;
}

.column-area .column {
	float: left;
	height: 100%;
	width: 25%;
}

.column-area .column .column-title {
	margin-top: 0px;
	text-align: center;
}

.column-area .column .course {
	border-radius: 100%;
	border: solid;
	border-width: 3px;
	border-color: black;
	width: 40%;
	height: 50px;
	margin-left: 30%;
	margin-bottom: 10px;
	text-align: center;
}

.column-area .column .course .courseName {
	margin-top: 11px;
}
